@import "./assets/styles/main.scss";
@import "./assets/styles/customerHeader.scss";
@import "./assets/styles/products-list.scss";
@import "./assets/styles/footer.scss";
@import "./assets/styles/loadingSpinner.scss";
@import "./assets/styles/errorComponent.scss";
@import "./assets/styles/viewSingleProduct.scss";
@import "./assets/styles/loginForm.scss";
@import "./assets/styles/customers404.scss";
@import "./assets/styles/verifyAccount.scss";
@import "./assets/styles/shopping-cart.scss"