.products-list-container {
    h1 {
        margin: 20px;
    }

    .products-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        min-height: 100vh;
        width: 100%;

        .product-card {
            width: 350px;
            height: 600px;
            background: $white-color;
            margin: 15px;
            border-radius: 10px;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

            .img {
                width: 100%;
                height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    cursor: pointer;
                }
            }

            .contents {
                padding: 5px;

                .buttons {
                    text-align: right;

                    button {
                        border: 0;
                        margin-left: 10px;
                    }

                    .wish-list {
                        color: $danger-color;
                    }

                    .cart {
                        color: $primary-color;
                    }
                }

                h3 {
                    a {
                        color: $black-color;
                        font-style: italic;
                        cursor: pointer;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .price-stock {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    span {
                        flex: 1;
                        color: $primary-color;
                        font-weight: bold;
                    }

                    .stock {
                        font-weight: bold;
                    }
                }

                .description {
                    a {
                        color: $black-color;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}